.profile-header.term-card.p-4.mb-5.d-flex.flex-column.flex-md-row.align-items-center {
    max-width: 1300px;
    max-height: 300px;
}

img.avatar-img {
    height: 30%;
    border-radius: 100%;
}

.term-card.p-4 {
    margin: auto;
}

.edit_profile {
    margin-top: 100px;
}

p.titles {
    color: #47cc42;
    background: #375250;
    width: 300px;
    border-radius: 5px;
    margin: 10px auto auto;
}

section.leaderboard.mt-5 {
    width: 400px;
    border: 1px solid #10463c;
    padding: 10px;
    background: #0e1920;
    border-radius: 10px;
}

section.courses-leaderboard-wrap {
    display: flex;
    justify-content: space-between;
}

.col-md-6.col-lg-3.mb-4.course-container {
    width: 800px;
}

.leaderboard-item.mb-3.d-flex.align-items-center {
    border-bottom: 1px solid;
}

.text-muted {
    color: #ffffff !important;
}